# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

node_modules
packages/*/node_modules
.eslintcache
.stylelintcache
.idea/*
.vscode
.next
.history/*
/junit.xml
/packages/*/junit.xml
/packages/*/junit.*.xml
build
dist
coverage
!.idea/runConfigurations/*
/packages/**/package-lock.json
*.log
*.tsbuildinfo
public
packages/*/public

