.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.topnav {
  background-color: var(--lmn-ds-colors-accent);;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  box-shadow: var(--lmn-ds-elevations-medium);
}

.navlogo, .navlinks a {
  font-weight: 500;
}

.navlogo {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.navlinks {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apptitle {
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.appdescription {
  font-size: 1.1rem;
  margin: 1rem;
}

.link {
  font-weight: 500;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 75vw;
  border-radius: 0.5rem;
  border: none;
  background: var(--lmn-ds-colors-gray-0);
  color: var(--lmn-ds-colors-gray-800);
  outline: none;
  box-shadow: var(--lmn-ds-elevations-medium);
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea::placeholder {
  color: var(--lmn-ds-colors-gray-300);
}

.generatebutton {
  position: absolute;
  top: 0.87rem;
  right: 1rem;
  color: var(--lmn-ds-colors-accent);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: var(--lmn-ds-colors-primary-50);
  border-radius: 0.2rem;
  cursor: pointer;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  padding: 1.5rem;
  color: var(--lmn-ds-colors-gray-800);
  box-shadow: var(--lmn-ds-elevations-small);
}
.usermessagewaiting{
  padding: 1.5rem;
  color: var(--lmn-ds-colors-gray-800);
  /*background: var(--lmn-ds-colors-primary-50);*/
  background: linear-gradient(90deg, #fee6f2, #ffffff, #fee6f2);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  /*background: var(--lmn-ds-colors-primary-50);*/
  padding: 1.5rem;
  color: var(--lmn-ds-colors-primary);
  animation: fadein 0.5s;
  box-shadow: var(--lmn-ds-elevations-small);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.apimessage, .usermessage, .usermessagewaiting {
  display: flex;
}

.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: var(--lmn-ds-colors-informative-500);
  font-weight: 500;
}

.markdownanswer code {
  color: var(--lmn-ds-colors-success-500);
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol, .markdownanswer ul {
  margin: 1rem;
}

.boticon, .usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
}

.markdownanswer h1, .markdownanswer h2, .markdownanswer h3 {
  font-size: inherit;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  flex-direction: column;
}

.cloud {
  width: 75vw;
  height: 65vh;
  background: var(--lmn-ds-colors-gray-0);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--lmn-ds-elevations-medium);
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .main {
    padding: 1rem;
    max-height: 97vh;
  }

  .cloud {
    width: 22rem;
    height: 95vh;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

.navlogo {
  font-size: 1.25rem;
  width: 20rem;
}

.markdownanswer code {
  white-space : pre-wrap !important;
}

.footer {
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
}
}

.logo {
  height: 40px;
}